<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Users</title>
</head>
<body>

    <header>
        <a class="logo" href="/">Users</a>
        <p class="subtitle">An application for managing users stored in an Express and PostgreSQL database.</p>

        <a href="/add/user">
            <i class="fa-solid fa-user-plus"></i>
            Add user
        </a>
    </header>

</body>
</html>