* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
}

header .logo {
  color: #fff;
  font-size: 2.5rem;
  border: none;
}

header a {
  color: #00B7FF;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid #333;

  &:hover {
    border-color: #00B7FF;
  }
}

header a i {
  font-size: 1.2rem;
  margin-right: 5px;
}